RewriteEngine On
RewriteBase /hackaton24/backend/

# Redireciona todas as requisições que não sejam para arquivos ou diretórios reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para o index.php
RewriteRule ^(.*)$ index.php?/$1 [L]
